@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: nuti;
    src: url(./NeutraDisp-Medium.otf);
  }

html{
    margin: 0;
    padding: 0;
    height: 100%;
    background: bisque center/cover url("./MNI/jare.jpg") repeat;
}

body {
    margin: 0;
    padding: 0;
    height: 10%;
}

.container{
    width: 100%;
    top: 45%;
    left: 50%;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: nuti;
	font-style: normal;
	font-weight:bold;
	font-size: 70px;
	margin: 20px;
    color: rgb(0, 0, 0);
}

#tag{
    transform: rotate(-30deg);
    float: center;
    width: 400px;	
    height: 10%;
    padding: 10px;
}

#foto{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%);
	width: 200px;
	height: 30%;
	padding: 10px;
	float: center;
	margin: 20px;
	border-radius: 30px;
    transition: transform 0.5s;

}

#foto:hover{
	transform: scale(1.2);
}
