@charset "utf-8";
/* CSS Document */

#titulo{
	text-align: center;
	font-size: 70px;
	background-color: coral;
	background: -webkit-linear-gradient(top, #ee9ef3, #5ad9ff);
	background: -ms-linear-gradient(top, #ee9ef3, #5ad9ff);
	width: 50%;
	align-content: center;
	border-radius: 5px;
	margin: 40px auto;
	padding: 15px;
	color: white;
	box-shadow: grey 15px 15px 15px;
	text-shadow: black 2px 2px 2px;
}
	
.imagen{
	
	align-items: center;
	width: 200px;
	height: 130px;
	border: 2px solid #71bdff;
	padding: 4px;
	float: left;
	margin: 80px 20px;
	border-radius: 5px;
	transition: transform 0.5s ease-in-out 1s; 
	
}
#imagen1{
	margin-left: 100px;
}

.imagen:hover{
	transform: scale(1.2);
}
p.blue{
	color:blue; 
	margin-right:20px; } 